<style>
  .search-btn {
    background-color: #fe424d;
    color: #ffff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color: #ffff;
  }
  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }
</style>

<nav
  class="navbar navbar-expand-md bg-light shadow-sm mb-4 border-bottom sticky-top"
>
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/listings"
      ><i class="fa-regular fa-compass"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-dark" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" action="/listings" method="GET">
          <input
            class="form-control me-2 search-inp"
            type="search"
            placeholder="Search destination"
            aria-label="Search"
            name="search"
          />
          <button class="btn search-btn" type="submit">Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link text-dark" href="/listings/new">Airbnb your home</a>
        <% if(!currUser){ %>
        <a class="nav-link text-dark" href="/signup"><b>Sign up</b></a>
        <a class="nav-link text-dark" href="/login"><b>Login</b></a>
        <% } %><% if(currUser){ %>
        <a class="nav-link text-dark" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
