<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hopnest</title>

    <!-- 1. BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- 2. FONT AWESOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />

    <!-- 3. YOUR SITE CSS -->
    <link rel="stylesheet" href="/css/style.css" />

    <!-- 4. RATING CSS -->
    <link rel="stylesheet" href="/css/rating.css" />

    <!-- 5. GOOGLE FONT -->
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />

    <!-- 6. MAPBOX CSS -->
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include("../includes/navbar.ejs") %>

    <div class="container">
      <%- include("../includes/flash.ejs") %> <%- body %>
    </div>

    <%- include("../includes/footer.ejs") %>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Mapbox JS -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>

    <!-- Your custom JS -->
    <script src="/js/script.js"></script>
  </body>
</html>
